@model List<MODEL.Ou_Permission>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>我是HOME测试页</h2>
<table>
    <tr>
        <td>权限名称</td>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.pName</td>
        </tr>
    }
</table>
