@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/easyUICSS")
    @Scripts.Render("~/easyUIJS")
</head>
<body>
    <div>
        我是Index
    </div>
</body>
</html>
